.anime-list-container {
  padding: 25px;
}
.anime-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 20px;
}

.anime-list-card {
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 5px #ff06064d;
  width: 205px;
  text-align: center;
}
.anime-list-poster {
  position: relative;
}
.anime-list-poster img {
  width: 100%;
  height: auto;
}
.anime-list-actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.create-anime-button-container {
  text-align: right;
}
.create-anime-button {
  border-radius: 8px !important;
  margin-left: auto;
}
.anime-list-card:hover .anime-list-actions {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
.anime-list-actions button {
  margin: 5px 0;
  width: 80%;
  border-radius: 15px;
}
.anime-list-title {
  height: 60px;
  align-content: center;
  color: white;
  overflow:auto;
}
.controls-container {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}
.controls-container select {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #444; 
  border-radius: 8px; 
  background-color: #2e2e2e; 
  color: #fff; 
  width: 100%;
  max-width: 150px;
  cursor: pointer;
}
.controls-container select:focus {
  border-color: #0dcaf0;
  box-shadow: none;
}
.controls-container select:hover {
  border-color: #0dcaf0;
}

@media only screen and (max-width: 800px) {
  .anime-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .controls-container {
    justify-content: center;
  }
}