h1{
    color: white !important;
    text-align: center;
}
.user-list-table {
    width: 80%;
    margin: auto;
    color: rgb(255, 255, 255);
    border-color:black;
    text-align: center;
}
.user-list-table thead {
    background-color: #3d3d3d; 
    color: white;
    
    
}
.user-list-table tbody tr:nth-child(even) {
    background-color: #c0c0c0;

}

.user-list-table tbody tr:nth-child(odd) {
    background-color: #808080;

}
.user-list-table tbody tr:hover {
    background-color: #3d3d3d; 
}
