.anime-carousel-container{
    width: 99.2vw;
    background-color: black;
}
.anime-poster{
    height: 350px;
    border:1px solid lightblue;
    border-radius: 10px;
    overflow: hidden;
}
.anime-poster > img{
    height: 100%;
    width: 100%;
}
.anime-card-container{
    height: 100vh;
    background-color: black;
    
}
.anime-card{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,1)), var(--img);
}

.anime-details{
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;

}
.anime-title{
    color: #e7f8fc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: cursive;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 310px; 
    min-width: 310px;
    word-wrap: break-word;
}


.anime-button-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
}
.play-button-icon-container{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.play-button-icon{
    padding: 0px;
    margin: 0px;
    color: #add8e6;
    font-size: 3rem;
    transition: 0.25s;
    cursor: pointer;
}
.play-button-icon:hover{
    font-size: 4rem;
    color: rgb(196, 248, 255);
}
.next-button-icon-container{
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}
.next-button-icon{
    color: #add8e6;
    font-size: 3rem;
    transition: 0.25s;
    cursor: pointer;
}
.next-button-icon:hover{
    font-size: 4rem;
    color: rgb(196, 248, 255);
}
.previous-button-icon-container{
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}
.previous-button-icon{
    color: #add8e6;
    font-size: 3rem;
    transition: 0.25s;
    cursor: pointer;
}
.previous-button-icon:hover{
    font-size: 4rem;
    color: rgb(196, 248, 255);
}
.review-button {
    color: #add8e6;
    background-color: #add8e600;
    border-radius: 10px;
    border-style: solid;
    border-color: #add8e6;
    border-width: 2px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}
.review-button:hover {
    transform: scale(1.15);
    color: #c4f8ff;
    transition: transform 0.3s;
}

@media only screen and (max-width: 800px) {
    .movie-detail{
        flex-direction: column;
        align-items: center;
        top: 20px;
}   
    .anime-button-container{
        padding-top: 30px;
    }
}