body {
    background-color: black !important;
}

.review-container {
    background-color: black;
    padding: 20px;
    color: white;
}

.poster-col {
    max-width: 500px; 
}

.poster-img {
    width: 100%;
    height: auto; 
}

.poster-container {
    position: relative; 
    width: 500px; 
    height: 800px;
    aspect-ratio: 9 / 16; 
    overflow: hidden;
}

.reviews-wrapper {
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 10px; 
}

.reviews {
    max-height: 100px;
    min-height: 50px;
    max-width: 600px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
}

.review-container .row {
    display: flex; 
}

.review-container {
    padding: 20px;
}
.char-counter {
    color: white !important;
}